# Build outputs
/dist

# Vendored dependencies
/env
/node_modules

# Cache and temporaries
__pycache__

# Private files
/.env

# Database
/heritage.db
/heritage.db-journal

# Lock files - not using in "hackathon mode"
/package-lock.json